@model FoxClub.Models.Fox
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome</title>
</head>
<body>
    <ul>
        <li><a href="/main/@Model.Name">Information</a></li>
        <li><a href="/fox/nutritionstore/@Model.Name">Nutrition Store</a></li>
        <li><a href="/fox/trickcenter/@Model.Name">Trick center</a></li>
    </ul>
    <img src="~/greenfox.png" alt="Green Fox Logo" />
    <p>This is @Model.Name. Currently living on @(Model.Food ?? "pizza ") and @(Model.Drink ?? "lemonade") . He knows @Model.TrickList.Count tricks. </p>
    <h2>Known tricks</h2> 
    @if (Model.TrickList.Count != 0)
    {
        <ul>
            @foreach (var item in Model.TrickList)
            {
            <li>@item</li>
            }
        </ul>
    }
    else
    {
        <p>Know no tricks yet. Go andd learn some.</p>

    }
</body>
</html>